{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "always",
  "ignorePath": ".prettierignore"
}
